.Stopwatch {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stopwatch-counter {
  flex: 3;
  align-items: center;
  display: flex;
}

.Stopwatch-controls {
  flex: 1;
  align-items: center;
  display: flex;
}
