.PokemonMe {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PokemonMe-menu {
  flex: 1;
}

.PokemonMe-image {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
